<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
    <beans default-autowire="byName">

        <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
        <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

        <bean id="quitinsuranceBillHandler"  class="org.mockito.Mockito" factory-method="mock">
            <constructor-arg value="com.qianjun.mock.bean.UserService"></constructor-arg>
        </bean>



    </beans>

</beans>